body {
  background-color: white;
  color: DimGray;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  line-height: 1.5em;
}

/* title */
#title-wrapper {
  text-align: center;
}

.headline {
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 50px;
  color: black;
}

/* main content */
#main-wrapper {
  width: 800px;
  margin: auto;
}

/* p5.js sketch */
#p5-canvas-container {
  width: 800px;
  margin: auto;
}

canvas {
  display: block;
}

/* description */
#description {
  width: 800px;
  margin: 40px auto 80px auto;
}

#description h2 {
  color: black;
  font-size: 1.4em;
  margin-bottom: 20px;
}

#description p {
  font-size: 1em;
  line-height: 1.6em;
}
